<h3>Listado de Proveedores </h3>
<a class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir
    nuevo proveedor</a>
<br>
 <input type="search"
    class="form-control"
    placeholder="Teclee un Proveedor..."
    [formControl]=" campoBusqueda"> 

<div *ngIf="cargando" class="text-center" style="padding-top: 60px;"> ①
    <img src="../../../assets/spinner.gif">
</div>

<table class="table table-bordered table-striped tabla" style="margin-top: 40px;">
    <thead>
        <tr class="filters">
        <th>Nombre</th>
        <th>Correo Electrónico</th>
        <th>Telefono</th>
        <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let proveedor of proveedoresList">
        <td>{{ proveedor.nombre }}</td>
        <td><a href="mailto:{{ proveedor.email }}">{{ proveedor.email }}</a></td>
        <td>{{ proveedor.telefono }}</td>
        <td>
            <button type="button" class="btn btn-success" routerLink="/editprov/{{ proveedor.id$ }}">Editar</button>
            <button class="btn btn-danger" (click)="eliminarProveedor(proveedor.id$)">Eliminar</button>
        </td>
        </tr>
    </tbody>
</table>

