<div class="row">
    <h3>Contratos</h3>
</div>
<hr>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-md-offset-2">
        <div class="uploader">
            <p style="font-size: 40px">
            <i class="fa fa-file-pdf-o"></i>
            <i class="fa fa-file-word-o" style="padding-left: 20px;"></i>
            <i class="fa fa-file-excel-o" style="padding-left: 20px;"></i>
            <i class="fa fa-file-picture-o" style="padding-left: 20px;"></i>
            </p>
            <input type="file" (change)="setectedFiles($event)">
        </div>
        <div class="text-center">
            <!-- <button type="button" class="btn btn-success"  (click)="uploadSingle($event)">Subir archivo</button> -->
            <button type="button" class="btn btn-success"  (click)="uploadSingle($event)">Subir archivo</button>
            <a class="btn btn-primary" routerLink="/contratos"> Regresar al listado</a>
        </div>
        <br>
        <div *ngIf="loading">
            <div class="progress">
              <!--  <div class="progress-bar progress-bar-animated" [ngStyle]="{'width': uploadProgress + '%' }"></div> -->
              <div class="progress-bar progress-bar-animated" [ngStyle]="{'width': (uploadProgress | async) / 100 | percent }"></div>                
            </div>
           
            <div class="item">
                <!-- Progress: {{ (uploadProgress | async) / 100 | percent }} -->
                Subiendo {{currentUpload?.file.name}} | {{ (uploadProgress | async) / 100 | percent }} Completado 
            </div>              
              <!-- Subiendo {{currentUpload?.name}} | {{currentUpload?.progress | number:'1.2-2' }}% Completado  -->          
           <div class="item">
                <a [href]="uploadURL | async">Descargar documento subido</a>
          </div>
        </div>
    </div>
</div>
